/* CSS Document */

body
{
  	color: lightgray;
  	background-color: #323639;
  	font-family: Tahoma;
	font-size: 2.7vh;
	padding: 10px;
}

h1
{
	color: whitesmoke;
	font-size: 7vh;
	font-family: Lucida Sans Unicode;
}

h2
{
	color: whitesmoke;
	font-size: 4vh;
	font-family: Lucida Sans Unicode;
}

h3
{
	color: whitesmoke;
	font-size: 3.6vh;
	font-family: Lucida Sans Unicode;
}

h4
{
	color: whitesmoke;
	font-size: 3.4vh;
	font-family: Lucida Sans Unicode;
}

h5
{
	color: whitesmoke;
	font-size: 3.2vh;
	font-family: Lucida Sans Unicode;
}

h6
{
	color: whitesmoke;
	font-size: 3vh;
	font-family: Lucida Sans Unicode;
}

strong
{
	color: tomato;
	text-decoration: underline;
}

a
{
	color: lightblue;
	text-decoration: underline;
}

code
{
	color: lightgreen;
}

samp
{
	color: lightyellow;
}

var
{
	color: lightcoral;
}

.text_center
{
	text-align: center;
}

.non_text_center
{
	margin-left: auto;
	margin-right: auto;
	height: 40vh;
	width: auto;
}

.non_text_tabbed
{
	margin-left: 4vw;
	margin-right: auto;
}

.with_border
{
	background-color: dimgray;
	border: 1vh;
	border-radius: 2px;
	border-style: solid;
	border-color: dimgray;
	display: block;
}

.code_block
{
	background-color: #282c2f;
	border: 1vh;
	border-radius: 5px;
	border-style: solid;
	border-color: #282c2f;
	display: block;
}